<div id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= project.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= project.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Public:</strong>
    <%= project.public %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Closed:</strong>
    <%= project.closed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= project.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= project.organization %>
  </p>

</div>
